@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');

.card-header {
  font-family: 'Courgette',
    cursive;
  font-size: 32px;
margin-bottom: 3%;
  font-weight: 300;
}
.bookingFormCard {
    width: 75%;
    padding-bottom: 2%;
    min-height: 60vh;
    margin: auto;
}

.bookingForm {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-around;
}