<div class="card">
    <div class="card-header">Available Rooms</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Room No.</th>
                    <th>Room Type</th>
                    <th>Room Capacity</th>
                    <th>Cost per day</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>{{item.id}}</td>
                    <td>{{item.roomType}}</td>
                    <td>{{item.capacity}}</td>
                    <td>{{item.cost}}</td>
                    <td class="bookNow"> <button class="btn btn-danger btn-sm" (click)="bookNow(item)">Book</button>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</div>